{%extends 'main.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificates - Data Analyst Portfolio</title>
    
</head>
<body>
    {%block content%}

    <main class="certificates-container">
        <h1 class="section-title" data-aos="fade-down">My Certificates</h1>

        <div class="certificates-grid">
            <div class="certificate-card" data-aos="fade-up">
                <img src="{%static 'images/capture2.png'%}" alt="Google Data Analytics">
                <div class="certificate-content">
                    <h3>RHCSA</h3>
                    <p>Hosted by : RedHat</p>
                    <span class="date">2023</span>
                    <a href="#" class="view-certificate">View Certificate</a>
                </div>
            </div>

            

            
            <div class="certificate-card" data-aos="fade-up" data-aos-delay="100">
                <img src="https://media.licdn.com/dms/image/v2/D4D22AQEXtneQAZ7Lpg/feedshare-shrink_800/feedshare-shrink_800/0/1723795755820?e=1738800000&v=beta&t=AYwtnEhsTTHlsGRJrpARiuuR-P3doMaRCnY_JfQvoYY" alt="IBM Data Science">
                <div class="certificate-content">
                    <h3>Celebel Internship</h3>
                    <p>Hosted by : Celebel Technologies</p>
                    <span class="date">2024</span>
                    <a href="https://www.linkedin.com/posts/siddhi-sudrania-72942a256_internship-csi24-celebaltech-activity-7230123440752480256-dPAH?utm_source=share&utm_medium=member_desktop" class="view-certificate">View Certificate</a>
                </div>
            </div>
            <div class="certificate-card" data-aos="fade-up" data-aos-delay="200">
                <img src="{%static 'images/capture.png'%}" alt="Power BI">
                <div class="certificate-content">
                    <h3>Data Analysis</h3>
                    <p>Hosted by : CISCO</p>
                    <span class="date">2024</span>
                    <a href="https://www.linkedin.com/posts/siddhi-sudrania-72942a256_im-happy-to-share-that-ive-obtained-a-new-activity-7177246524261744640-43Jw?utm_source=share&utm_medium=member_desktop" class="view-certificate">View Certificate</a>
                </div>
                
            </div>
            <div class="certificate-card" data-aos="fade-up" data-aos-delay="200">
                <img src="https://media.licdn.com/dms/image/v2/D4D22AQFZ_yePhVZ7sw/feedshare-shrink_2048_1536/feedshare-shrink_2048_1536/0/1720430381824?e=1738800000&v=beta&t=jth-nR6KJKAbRsNeXXwf0lho_-m_9QSPO8K5LuodobI">
                <div class="certificate-content">
                    <h3>Data Science</h3>
                    <p>Hosted by : Accenture</p>
                    <span class="date">2024</span>
                    <a href="https://www.linkedin.com/posts/siddhi-sudrania-72942a256_dataanalytics-continuouslearning-accenture-activity-7216008038921469952-WKQx?utm_source=share&utm_medium=member_desktop" class="view-certificate">View Certificate</a>
                </div>
            </div>
            <div class="certificate-card" data-aos="fade-up" data-aos-delay="100">
                <img src="https://media.licdn.com/dms/image/v2/D4D22AQHzJjokTQrcEg/feedshare-shrink_800/feedshare-shrink_800/0/1724000452914?e=1738800000&v=beta&t=anMoTTR9DIk0SE-AzpEwOIoXM-36WgScQtDM2cowk8U" alt="IBM Data Science">
                <div class="certificate-content">
                    <h3>Data Visualization</h3>
                    <p>Hosted by : Infosys</p>
                    <span class="date">2024</span>
                    <a href="https://www.linkedin.com/posts/siddhi-sudrania-72942a256_dataanalytics-engineering-learning-activity-7230981998830321664-aLXs?utm_source=share&utm_medium=member_desktop" class="view-certificate">View Certificate</a>
                </div>
            </div>
        </div>
    </main>
    {%endblock%}

    
</body>
</html>