{%extends 'main.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificates - Data Analyst Portfolio</title>
    
</head>
<body>
    {%block content%}

    <main class="certificates-container">
        <h1 class="section-title" data-aos="fade-down">My Certificates</h1>

        <div class="certificates-grid">
            <div class="certificate-card" data-aos="fade-up">
                <img src="{%static 'Images/Capture2.PNG'%}" alt="Red Hat">
                <div class="certificate-content">
                    <h3>RHCSA</h3>
                    <p>Hosted by : RedHat</p>
                    <span class="date">2023</span>
                    <a href="#" class="view-certificate">View Certificate</a>
                </div>
            </div>

            

            
            <div class="certificate-card" data-aos="fade-up" data-aos-delay="100">
                <img src="{%static 'Images/csi.jpg'%}" alt="ct">
                <div class="certificate-content">
                    <h3>Celebel Internship</h3>
                    <p>Hosted by : Celebel Technologies</p>
                    <span class="date">2024</span>
                    <a href="https://www.linkedin.com/posts/siddhi-sudrania-72942a256_internship-csi24-celebaltech-activity-7230123440752480256-dPAH?utm_source=share&utm_medium=member_desktop" class="view-certificate">View Certificate</a>
                </div>
            </div>
            <div class="certificate-card" data-aos="fade-up" data-aos-delay="200">
                <img src="{%static 'Images/Capture.PNG'%}" alt="Power BI">
                <div class="certificate-content">
                    <h3>Data Analysis</h3>
                    <p>Hosted by : CISCO</p>
                    <span class="date">2024</span>
                    <a href="https://www.linkedin.com/posts/siddhi-sudrania-72942a256_im-happy-to-share-that-ive-obtained-a-new-activity-7177246524261744640-43Jw?utm_source=share&utm_medium=member_desktop" class="view-certificate">View Certificate</a>
                </div>
                
            </div>
            <div class="certificate-card" data-aos="fade-up" data-aos-delay="200">
                <img src="{%static 'Images/da.jpg'%}" alt="Data Science">
                <div class="certificate-content">
                    <h3>Data Science</h3>
                    <p>Hosted by : Accenture</p>
                    <span class="date">2024</span>
                    <a href="https://www.linkedin.com/posts/siddhi-sudrania-72942a256_dataanalytics-continuouslearning-accenture-activity-7216008038921469952-WKQx?utm_source=share&utm_medium=member_desktop" class="view-certificate">View Certificate</a>
                </div>
            </div>
            <div class="certificate-card" data-aos="fade-up" data-aos-delay="100">
                <img src="{%static 'Images/dv.jpg'%}" alt="Data Visualization">
                <div class="certificate-content">
                    <h3>Data Visualization</h3>
                    <p>Hosted by : Infosys</p>
                    <span class="date">2024</span>
                    <a href="https://www.linkedin.com/posts/siddhi-sudrania-72942a256_dataanalytics-engineering-learning-activity-7230981998830321664-aLXs?utm_source=share&utm_medium=member_desktop" class="view-certificate">View Certificate</a>
                </div>
            </div>
        </div>
    </main>
    {%endblock%}

    
</body>
</html>
